body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #333;
  font-size: 15px;
  line-height: 20px;
  background-color: white;
}
h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
	font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    border-style: solid;
    border-width: 0px 0px 4px;
    border-color: #3698C2;
    border-radius: 9px;
    text-align: center;
	font-color: blue;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
	padding: 10px;
	font-size:20px;
  margin-bottom: 5px;
  text-align:center;
  line-height:130%;
}
div.external
{
width:95%;
height:95%;
padding:10px;
border:5px ridge #40B2E3;
border-radius: 10px;
margin:0px;
}

.button {
  display: inline-block;
  padding: 4px 15px;
  text-color: black;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  margin-right: 60px;
  margin-left: 60px;
  border-radius: 7px;
  background-color: #99D0E8;
  box-shadow: black 1px 1px 3px 0px;
}
.nueva {
    margin-top: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}