	}
		
	</script>
	
	</script>
    </head>
<body>
	<div class="external">
  	  <div>
    	  <h3>No Connection</h3>
  		</div>
 		 <p class="w-hidden-main">You are not connected to any network. Please, check your connection status and try again.</p>
  		 <div class="w-container w-hidden-main nueva"><button class="w-hidden-main button" onclick="checkConnection()">Try again</button>
	  </div>
	</div>
</body>
</html>
